.Room 
{
  position:relative;
  padding:1px 0;
  height:100vh;
  
  /* decorations */
  background:rgba(81,149,72,1);
}


.Table 
{
  position:relative;
  display:block;  
  margin:5vw;
  padding:5vw 5vw 0 5vw;
  
  display: flex;
  align-items: flex-end;
  
  justify-content: center;
  
  /* decorations */
  background: rgba(235,104,65,1);
  border-bottom: 0vw solid rgba(0,0,0,.2);
}


.WashingMachine
{
  position:relative;
  display:block;  
  margin:5vw;
  padding:5vw 5vw 0 5vw;

  display:flex;
  align-items:center;
  justify-content:center;
  
  /* decorations */
  background: rgba(0,160,176,1);
  border-bottom: 0vw solid rgba(0,0,0,.2);  
}

.WashingMachine > .Liquid {
  position:absolute;
  top:auto;
  bottom:0;
  left:0;
  right:0;
  min-height:3vw;
}

.Cup 
{
  display:block;
  position:relative;
  width:13vw;
  height:9vw;
  margin:1vw 4vw;  
  flex-grow:0;
  flex-shrink:0;
  
  display:flex;
  flex-direction: column-reverse;
  
  /* decorations */
  border: .5vw solid rgba(3,22,52,1);
  border-radius: 0 0 3vw 3vw;
  box-shadow:0 2px 12px rgba(3,22,52,.2);
}

.Cup > .Liquid:first-child {
  border-radius: 0 0 2vw 2vw;
}

.Box
{
  display:block;
  position:relative;
  width:13vw;
  height:13vw;
  margin:1vw 4vw;  
  flex-grow:0;
  flex-shrink:0;
  
  display:flex;
  flex-direction: column-reverse;
  
  /* decorations */
  border: .5vw solid rgba(41,44,55,1);
  box-shadow:0 2px 12px rgba(0,0,0,.25);
}

.RedColor
{
  border-color:rgba(162,11,36,1);
}

.Liquid
{
  position:relative;
  display:block;
  width:100%;
  min-height:33%;
}

.Dry
{
  position:relative;
  display:block;
  width:100%;
  min-height:33%;
}

[type="Coffee"], .Coffee
{
  background-color:rgba(119,79,56,.8);
}
[type="Milk"], .Milk
{
  background-color:rgba(255,255,255,.8);
}
[type="Water"], .Water
{
  background-color:rgba(105,210,231,.8);
}


.Cat 
{
  position:absolute;
  right:2vw;
  bottom:2vw;
  width:6vw;
}
.Cat img 
{
  width:100%;
  height:auto;
}
