
/* o o o o o o o o o o o o o o o o o o */
.aNBR { white-space:nowrap; }
@media screen { .aPrint { display: none; } }
/* o o o o o o o o o o o o o o o o o o */



/* o o o o o o o o o o o o o o o o o o */
.aIcon
{
  display:inline-block;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}
a.aIcon,
a.aIcon:link,
a.aIcon:visited,
a.aIcon:active,
button.aIcon,
button.aIcon:active
{
  border:0;
  margin:0;
  outline:0;
  display:inline-block;
  vertical-align: middle;
  background-color:transparent;
  box-shadow:none;
}
/* o o o o o o o o o o o o o o o o o o */
.aIconized
{
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
/* o o o o o o o o o o o o o o o o o o */
.aCaption
{
  font-weight:700;
}
/* o o o o o o o o o o o o o o o o o o */
.aText
{
  max-width:100%;
}
.aText p + p
{
  margin-top:1em;
}
.aText ul
{
  margin-bottom:1em;
  margin-left:1.5em;
}
/* o o o o o o o o o o o o o o o o o o */
.aMiniText
{
  font-size:.8em;
}
/* o o o o o o o o o o o o o o o o o o */
.aPicture img,
.aPicture svg
{
  max-width:100%;
  height: auto;
}
/* o o o o o o o o o o o o o o o o o o */


/* ================================================================================== */

 .aButton,
a.aButton {
    display:inline-block;    
    vertical-align:middle;
    cursor:pointer;
    outline:0;    
    text-decoration:none;    
    text-align:center;
    box-shadow:none;
}
.aButton:disabled {
    opacity:.5;
    cursor: default;
    pointer-events: none;
}
.aButton.fullWidth {
    width:100%;
    margin-right:0;
    margin-left:0;
}

/* theme */

.aButton {
    padding:7px 15px 6px 15px;
    margin:5px 5px 5px 0;
    font-size:inherit;
    line-height:1.25em;
    border:1px solid transparent;            
    background-color: rgba(69,72,75,1);
    color: rgba(238,230,171,1);
    transition: all .2s;    
}
.aButton:hover {
    background-color: rgba(105,103,88,1);
}
.aButton:active {
    background-color: rgba(54,57,59,1);
}

/* ================================================================================== */