html {
    font-size: 1em;
    font-size: calc( 1em + (2 - 1) * ( (100vw - 20em) / ( 100 - 10 ) ) );
}
body
{
  font-family:'PT Sans', 'Roboto', sans-serif;
  font-size: 1em;
  line-height:1.5;
  
  background-color: rgba( 250,251,227 ,1);
  color:            rgba( 25,17,38    ,1);
}
h1
{
    font-size: 2em;
    font-weight: normal;
    line-height:1.2;
}
h2
{
    font-size: 1.6em;
    font-weight: normal;
    line-height:1.2;
}


/* o o o o o o o o o o o o o o o o o o */

.cAppVisibleHeader
{
  background-color:transparent;
}

/* o o o o o o o o o o o o o o o o o o */


.cAppVisibleBody
{
  background-color:transparent;
}

/* o o o o o o o o o o o o o o o o o o */

.cAppVisibleFooter
{
  background-color:transparent;
  padding-bottom:0;
}

/* o o o o o o o o o o o o o o o o o o */